
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FAF8F5;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    /* border-bottom: .1rem solid #A7A5A5; */
    margin-bottom: 1rem;
}

.categorias {
    display: flex;
    align-items: center;
}

.categorias i {
    padding: 0 .4rem;
}

.links {
    display: flex;
    align-items: center;
}

.cupons, .cashback, .forum {
    display: flex;
    align-items: center;
    padding: .9rem;
}

.cupons i  {
    margin-right: .4rem;
    color: yellow;
    font-size: 1.4rem;
}

.cashback i {
    margin-right: .4rem;
    color: green;
    font-size: 1.4rem;
}

.forum i {
    margin-right: .4rem;
    color: red;
    font-size: 1.4rem;
}

.usuario {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.usuario i {
    padding: 0 .8rem;
    font-size: 1.6rem;
}

.busca {
    display: flex;
    align-items: center;
}

.busca i {
    color: #A7A5A5;
    margin-left: -1.6rem;
}

.busca input {
    padding: .6rem;
    border-radius: .8rem;
    border: .1rem solid #A7A5A5;
    width: 20rem;
}





.card-wrapper {
    width: 242px;
    height: 355px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-wrapper .img-product {
    margin-top: 10px;
    width: 170px;
    height: 119.282px;
    flex-shrink: 0;
}

.card-wrapper .name-product {
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-wrapper .value-product {
    display: flex;
    justify-content: center;
}

.card-wrapper .value-product h2 {
    padding-left: 2px;
    font-size: 52px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.card-wrapper .value-product h3 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-top: 7px;
}

.card-wrapper .value-product h4 {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-top: 36px;
}




.historico_navegacao {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 480;
    line-height: normal;
    font-style: normal;
    justify-content: left;
    padding-left: 98px;
}

.seta_navegacao {

    font-size: .7rem;
    padding-left: 3px;
    padding-right: 3px;
}

.diretorio_atual {
    font-weight: 470;
}

.titulo_produto{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 480;
    line-height: normal;
    font-style: normal;
    justify-content: left;
    padding-left: 98px;

}
.rating {
    display: flex;
    align-items: center;
  }
  
  .stars {
    font-size: 24px;
    color: #f1c40f;
    display: inline-block;
    margin-left: 95px;
  }
  
  .rating-info {
    font-size: 16px;
    color: #777;
    margin-left: 10px;
  }
.product-details {
    display: flex;
    align-items: center;
    margin-left: 95px;
    margin-bottom: 20px;
}
.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 95px;
}

.main-image-container {
    display: flex;
    align-items: center;
}

.imagem_principal {
    max-width: 25%;
}

.loja_verificada {
    background-color: #D6F3DF;
    color: #48BC6E;
    font-size: 16px;
    padding: 05px 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -150px;
}

.thumbnails {
    display: flex;
    align-items: center;
    justify-content: left;
}

.thumbnail {
    width: 55px; 
    height: 40px; 
    margin: 1px;
    cursor: pointer;
    margin-left: 15px;
}

.thumbnail:hover {
    border: 2px solid #b81414d9;
}

.menor_preco {
    font-size: 15px;
    margin-left: -155px;
    margin-top: -90px;
}
.preco {
    font-size: 30px;
    margin-left: -240px;
    margin-top: 30px;
}
.preco_menor {
    font-size: 20px;
    margin-top: 65px;
}
.parcela {
    font-size: 16px;
    margin-left: -270px;
    margin-top: 110px;
}

