
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FAF8F5;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    /* border-bottom: .1rem solid #A7A5A5; */
    margin-bottom: 1rem;
}

.categorias {
    display: flex;
    align-items: center;
}

.categorias i {
    padding: 0 .4rem;
}

.links {
    display: flex;
    align-items: center;
}

.cupons, .cashback, .forum {
    display: flex;
    align-items: center;
    padding: .9rem;
}

.cupons i  {
    margin-right: .4rem;
    color: yellow;
    font-size: 1.4rem;
}

.cashback i {
    margin-right: .4rem;
    color: green;
    font-size: 1.4rem;
}

.forum i {
    margin-right: .4rem;
    color: red;
    font-size: 1.4rem;
}

.usuario {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.usuario i {
    padding: 0 .8rem;
    font-size: 1.6rem;
}

.busca {
    display: flex;
    align-items: center;
}

.busca i {
    color: #A7A5A5;
    margin-left: -1.6rem;
}

.busca input {
    padding: .6rem;
    border-radius: .8rem;
    border: .1rem solid #A7A5A5;
    width: 20rem;
}
.card-wrapper {
    width: 242px;
    height: 355px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-wrapper .img-product {
    margin-top: 10px;
    width: 170px;
    height: 119.282px;
    flex-shrink: 0;
}

.card-wrapper .name-product {
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-wrapper .value-product {
    display: flex;
    justify-content: center;
}

.card-wrapper .value-product h2 {
    padding-left: 2px;
    font-size: 52px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.card-wrapper .value-product h3 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-top: 7px;
}

.card-wrapper .value-product h4 {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-top: 36px;
}




.historico_navegacao {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 480;
    line-height: normal;
    font-style: normal;
    justify-content: left;
    padding-left: 98px;
}

.seta_navegacao {

    font-size: .7rem;
    padding-left: 3px;
    padding-right: 3px;
}

.diretorio_atual {
    font-weight: 470;
}

.titulo_produto{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 480;
    line-height: normal;
    font-style: normal;
    justify-content: left;
    padding-left: 98px;

}
.rating {
    display: flex;
    align-items: center;
  }
  
  .stars {
    font-size: 24px;
    color: #f1c40f;
    display: inline-block;
    margin-left: 95px;
  }
  
  .rating-info {
    font-size: 16px;
    color: #777;
    margin-left: 10px;
  }
.product-details {
    display: flex;
    align-items: center;
    margin-left: 95px;
    margin-bottom: 20px;
}
.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 95px;
}

.main-image-container {
    display: flex;
    align-items: center;
}

.imagem_principal {
    max-width: 25%;
}

.loja_verificada {
    background-color: #D6F3DF;
    color: #48BC6E;
    font-size: 16px;
    padding: 05px 20px;
    border-radius: 10px;
    margin-left: 105px;
    margin-top: -150px;
}

.thumbnails {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 60px;
    margin-top: 10px;

  }
.thumbnail {
    display: inline-flex;
    width: 55px; 
    height: 40px;
    cursor: pointer;
    margin: 0 5px;
}

.thumbnail:hover {
    border: 2px solid #b81414d9;
}

.menor_preco {
    font-size: 15px;
    margin-left: -155px;
    margin-top: -90px;
}
.preco {
    font-size: 30px;
    margin-left: -240px;
    margin-top: 30px;
}
.preco_menor {
    font-size: 20px;
    margin-top: 65px;
}
.parcela {
    font-size: 16px;
    margin-left: -270px;
    margin-top: 110px;
}

.promocao_botao {
    background-color: #b81414d9;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #b81414d9;
    border-radius: 20px;
    cursor: pointer;
    position: relative; 
    align-items: center;
    top: 100px;
    right: 244px;
    transition: background-color 0.3s ease;
  }
  
  .promocao_botao:hover {
    background-color: #ffffff; 
    color: #b81414d9; 
    border-color: #b81414d9; 
  }
  
  .salvar-btn {
    background-color: #ffffff; 
    color: #b81414d9; 
    padding: 01px 35px;
    font-size: 18px;
    border: 2px solid #b81414d9; 
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    top: 150px;
    right: 462px;
  }
  
  .salvar-btn:hover {
    background-color: #b81414d9; 
    color: #ffffff; 
    border-color: #ffffff; 
  }
  
  .coracao {
    font-size: 31px; 
    color: #b81414d9; 
    margin-right: 8px;
    position: relative;
    display: inline-block;
  }
  .salvar-btn:hover .coracao {
    color: #ffffff; 
  }

  .tabs {
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
    overflow: hidden;
  }
  
  .tab-button {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 16px;
    outline: none;
  }
  
  .tab-button.active {
    border: 2px solid #DEDEDE;
    background-color: #DEDEDE;

    font-weight: 550;
    border-radius: 8px;
  }
  
  .tab-content {
    display: none;
    padding: 20px;
  }
  
  .tab-content.active {
    display: block;
  }

  .card {
    width: 350px;
    height: 300px;
    background-color: #FAF8F5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: absolute;
    border: 2px solid #a7a5a5;
    left: 1100px;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
 .simbolo_preco {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 5;
    font-weight: bold;
  }

  .simbolo_preco .cor_vermelha {
    color: #B81414; 
    font-weight:bold; 
  }
  
  .mudanca_preco {
    background: linear-gradient(to right, #b81414, #e7bc24, #4fdb0e);
    height: 6px;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  
  .indicador {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 65%;
    transform: translateX(-50%);
    border: 1px solid #A7A5A5;
  }
  
  .seta{
    width: 15px;
    height: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    position: absolute;
    top: -15px;
    left: 65%;
    transform: translateX(-50%);
  }
  .info_preco {
    margin-top: 35px;
  }
  
  .valor {
    font-weight: bold;
  }
  
 .botao_historico {
    background-color: #FAF8F5;
    color: #000000;
    padding: 8px 10px;
    border: 2px solid #a7a5a5;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
  }

  .notification-card {
    display: flex;
    justify-content: space-between; /* Distribui os elementos ao longo do container */
    align-items: center; /* Centraliza verticalmente os elementos */
    width: 350px;
    background-color: #FAF8F5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: absolute;
    left: 1100px;
    top: 550px;
  }
  
  .notification-text {
    text-align: left; /* Ajusta o texto à esquerda */
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: -25px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 36px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D1D1D1; /* Cor de fundo da bolinha */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: #FFFFFF; /* Cor da bolinha */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #D1D1D1; /* Cor de fundo da bolinha quando o interruptor está ligado */
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .notification-card .toggle-switch {
    margin-top: 15px;
    position: relative;
    width: 50px;
    height: 26px;
  }
  
  .notification-card .toggle-input {
    display: none;
  }
  
  .notification-card .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 26px;
    background-color: #d1d1d1;
    border-radius: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .notification-card .notification-ball {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .notification-card .toggle-input:checked + .toggle-label {
    background-color: #ffffff;
  }
  
  .notification-card .toggle-input:checked + .toggle-label .notification-ball {
    transform: translateX(24px);
  }
  
  .notification-card .bold-text {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000; /* Cor desejada para o texto em negrito */
  }
  
  .notification-card .normal-text {
    margin-top: 15px;
    color: #000; /* Cor desejada para o texto normal */
  }