* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

:root {
    --color-red: #b81414;
    --color-yellow: #FFC107;
    --color-green: #4caf50;
    --color-gray: #A7A5A5;
    --color-text-gray: #dfdddd;
    --color-white: #fff;
    --color-black: #000;
    --color-grafite: #242121;
    --color-light: #f5f5f5;
    --color-bg: #faf8f5;
    --color-bg-white: #ffffff;
    --color-bg-destaque: #fed6b9;
}

body {
    background-color: var(--color-bg);
}

/* Navbar */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    margin-bottom: 1rem;
}

.categorias {
    display: flex;
    align-items: center;
}

.categorias i {
    padding: 0 .4rem;
}

.links {
    display: flex;
    align-items: center;
}

.cupons, .cashback, .forum {
    display: flex;
    align-items: center;
    padding: .9rem;
}

.cupons i  {
    margin-right: .4rem;
    color: yellow;
    font-size: 1.4rem;
}

.cashback i {
    margin-right: .4rem;
    color: green;
    font-size: 1.4rem;
}

.forum i {
    margin-right: .4rem;
    color: red;
    font-size: 1.4rem;
}

.usuario {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.usuario i {
    padding: 0 .8rem;
    font-size: 1.6rem;
}

.busca {
    display: flex;
    align-items: center;
}

.busca i {
    color: #A7A5A5;
    margin-left: -1.6rem;
}

.busca input {
    padding: .6rem;
    border-radius: .8rem;
    border: .1rem solid #A7A5A5;
    width: 20rem;
}


/* Histórico Navegação */

.historico_navegacao {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 480;
    line-height: normal;
    font-style: normal;
    justify-content: left;
    padding-left: 98px;
}

.historico_navegacao a{
    text-decoration: none;
    color: var(--color-grafite);
}

.seta_navegacao {
    margin-top: 2px;
    font-size: .7rem;
    padding-left: 4px;
    padding-right: 4px;
}

.diretorio_atual {
    font-size: 12px;
    font-weight: 500;
}


/* Estilização Elementos Esquerda */

.elementos_esquerda {
    margin-top: 30px;
    margin-left: 98px;
    display: flex;
    flex-direction: column;
}

/* Preço */

.fundo_preco {
    width: 342px;
    height: 108px;
    border-radius: 30px;
    position: relative;
    background: #FFFFFE;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.titulo_preco {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 510;
}

.container_faixa{
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.faixa_deslizante{
    width: 100%;
    height: 4px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 0px;
    padding-top: 3px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: #B81414;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}

.container_preco_atual {
    display: flex;
    position: relative;
    margin: 20px;
    margin-top: 34px;
}

.preco_atual,
.preco_atual2 {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
}

.preco_atual2 {
    text-align: end;
}

/* Marcas */

.fundo_marcas {
    width: 342px;
    height: auto; 
    margin-top: 20px;
    border-radius: 30px;
    background: #FFFFFE;
    position: relative;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.titulo_marcas {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 18px;
    position: relative;
    font-size: 20px;
    font-weight: 510;
}

.botao_marcas {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.flecha_marcas {
    font-size: 1rem;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.conteudo_marcas {
    margin-left: 20px;
    margin-right: 20px;
}

.marcas {
    display: flex;
    align-items: center;
    gap: .3rem;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.ajuste_marcas {
    display: flex;
    gap: .9rem;
}

.quantidade {
    width: 26px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding-top: .1rem;
    
}

.mostrar_ops {
    display: flex;
    justify-content: center;
    color: var(--color-red);
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 18px;
}

.conteudo_marcas input[type=checkbox] {
    position: relative;
      cursor: pointer;
}
.conteudo_marcas input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 05px;
    background-color: var(--color-bg);
    border: 1.5px solid #000;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}
.conteudo_marcas input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    left: 0;
    background-color:var(--color-red);
    border: 0px;
}
.conteudo_marcas input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2.7px;
    left: 7.5px;
}


/* Display dos conteúdos */

.classe_geral {
    display: flex;
}

/* Card dos produtos */

.produtos-coluna {
    width: 100%;
    display: flex;
     flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 98px;
    position: relative;
    display: flex;
    align-items: center;
}

.card-produto {
    width: 242px;
    height: 355px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    background: var(--color-bg-white);
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .4rem;
    color: var(--color-grafite);
  }
    
.card-produto .img-produto {
    flex-shrink: 0;
}
  
.card-produto .nome-produto {
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
  
.card-produto .valor-produto {
    display: flex;
    justify-content: center;
}
  
.card-produto .valor-produto h2 {
    padding-left: 2px;
    font-size: 52px;
    font-weight: 600;
    margin: 0;
}
  
.card-produto .valor-produto h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 7px;
}
  
.card-produto .valor-produto h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 36px;
}
  
.card-produto button {
    width: 195px;
    height: 39px;
    flex-shrink: 0;
    border: 0;
    border-radius: 15px;
    background: rgba(184, 20, 20, 0.85);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.2s ease;
    cursor: pointer;
}
  
.card-produto i {
    flex-shrink: 0;
    padding-left: 4px;
    fill: #fff;
    stroke-width: 0.4px;
    stroke: #fff;
}
  
.card-produto button:hover {
    transform: translate(0px, 1px);
    background: rgb(160, 3, 3);
}
  
.card-produto .vendedor {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}