* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

:root {
    --color-red: #b81414;
    --color-yellow: #FFC107;
    --color-green: #4caf50;
    --color-gray: #A7A5A5;
    --color-text-gray: #dfdddd;
    --color-white: #fff;
    --color-black: #000;
    --color-grafite: #242121;
    --color-light: #f5f5f5;
    --color-bg: #faf8f5;
    --color-bg-white: #ffffff;
    --color-bg-destaque: #fed6b9;
}

body {
    background-color: var(--color-bg);
  }
  
  a {
    color: var(--color-grafite);
  }
/* Navbar */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
  }
  
  .logo_nav {
    width: 150px;
  }
  
  .logo_nav img {
    width: 150px;
  }
  
  .window-scroll {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--color-bg-white);
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-categoria {
    position: relative;
    display: inline-block;
    user-select: none;
    margin-left: -4rem;
  }
  
  .categorias {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .categorias i {
    padding-left: .4rem;
  }
  
  .lista-categorias {
    display: none;
    min-width: 300px;
    position: absolute;
    top: 2rem;
    background-color: var(--color-bg-white);
    z-index: 1;
    border-radius: .6rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
  }
  
  .lista-categorias a {
    display: block;
    padding: .6rem 1rem;
  }
  
  .lista-categorias a:hover{
    background-color: var(--color-red);
    color: var(--color-white);
  }
  
  .lista-categorias a:first-child:hover{
    border-radius: .5rem .5rem 0 0;
  }
  
  .lista-categorias a:last-child:hover{
    border-radius: 0 0 .5rem .5rem;
  }
  
  .links {
    display: flex;
    align-items: center;
    gap: .8rem;
  }
  
  .cupons a,
  .cashback a,
  .forum a {
    display: flex;
    align-items: center;
    padding: .5rem;
  }
  
  .cupons i {
    margin-right: .4rem;
    color: var(--color-yellow);
    font-size: 1.4rem;
  }
  
  .cashback i {
    margin-right: .4rem;
    color: var(--color-green);
    font-size: 1.4rem;
  }
  
  .forum i {
    margin-right: .4rem;
    color: var(--color-red);
    font-size: 1.4rem;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    padding: 0 .2rem;
    position: relative;
  }
  
  #notificacao {
    display: flex;
    cursor: pointer;
  }
  
  .notificacao {
    display: none;
    min-width: 300px;
    position: absolute;
    top: 4rem;
    right: 7rem;
    background-color: var(--color-bg-white);
    z-index: 1;
    border-radius: .6rem;
    box-shadow: .4rem .2rem .8rem rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  
  .dropdown-notificacao {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }
  
  .lista-notificacao {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .lista-notificacao a {
    display: flex;
    align-items: center;
    padding: .6rem;
    border: .02rem solid var(--color-gray);
    border-radius: .4rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
  }
  
  .lista-notificacao a:hover {
    border: .02rem solid var(--color-red);
    background-color: var(--color-bg);
  }
  
  .lista-notificacao i {
    color: var(--color-red);
    margin-right: .4rem;
  }
  
  .mostrar {
    display: block;
  }
  
  .usuario{
    user-select: none;
    padding-right: .8rem;
  }
  
  .dot {
    color: var(--color-red);
    position: relative;
    top: -.5rem;
    left: -.8rem;
  }
  
  .usuario i {
    padding: 0 .2rem;
    font-size: 1.6rem;
  }
  
  .busca {
    display: flex;
    align-items: center;
  }
  
  .busca i {
    color: var(--color-gray);
    margin-left: -1.6rem;
  }
  
  .busca input {
    padding: .6rem;
    border-radius: .8rem;
    border: .05rem solid var(--color-gray);
    width: 18rem;
  }
  
  /* Histórico Navegação */

.container {
    width: 100%;
    padding: 0 4.2rem;
}

.historico_navegacao {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 480;
    line-height: normal;
    font-style: normal;
    justify-content: left;
}

.historico_navegacao a{
    text-decoration: none;
    color: var(--color-grafite);
}

.historico_navegacao h6 {
    font-size: 13px;
    font-weight: 300;
  }

.seta_navegacao {
    margin-top: 2px;
    font-size: .7rem;
    padding-left: 4px;
    padding-right: 4px;
}

.diretorio_atual {
    font-size: 12px;
    font-weight: 500;
}


/* Estilização Elementos Esquerda */

.elementos_esquerda {
    display: flex;
    flex-direction: column;
}

/* Preço */

.fundo_preco {
    width: 342px;
    height: 108px;
    border-radius: 30px;
    position: relative;
    background: #FFFFFE;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.titulo_preco {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 510;
}

.container_faixa{
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.faixa_deslizante{
    width: 100%;
    height: 4px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 0px;
    padding-top: 3px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: #B81414;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}

.container_preco_atual {
    display: flex;
    position: relative;
    margin: 20px;
    margin-top: 34px;
}

.preco_atual,
.preco_atual2 {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
}

.preco_atual2 {
    text-align: end;
}

/* Marcas */

.fundo_marcas {
    width: 342px;
    height: auto; 
    margin-top: 20px;
    border-radius: 30px;
    background: #FFFFFE;
    position: relative;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.titulo_marcas {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 18px;
    position: relative;
    font-size: 20px;
    font-weight: 510;
}

.botao_marcas {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.flecha_marcas {
    font-size: 1rem;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.conteudo_marcas {
    margin-left: 20px;
    margin-right: 20px;
}

.marcas {
    display: flex;
    align-items: center;
    gap: .3rem;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.ajuste_marcas {
    display: flex;
    gap: .9rem;
}

.quantidade {
    width: 26px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding-top: .1rem;
    
}

.mostrar_ops {
    display: flex;
    justify-content: center;
    color: var(--color-red);
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 18px;
}

.conteudo_marcas input[type=checkbox] {
    position: relative;
      cursor: pointer;
}
.conteudo_marcas input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 05px;
    background-color: var(--color-bg);
    border: 1.5px solid #000;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}
.conteudo_marcas input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    left: 0;
    background-color:var(--color-red);
    border: 0px;
}
.conteudo_marcas input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2.7px;
    left: 7.5px;
}


/* Display dos conteúdos */

.classe_geral {
    display: flex;
    padding-top: 30px;
}

/* Card dos produtos */

.produtos-coluna {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    align-items: center;
}

.card-produto {
    width: 242px;
    height: 355px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    background: var(--color-bg-white);
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .4rem;
    color: var(--color-grafite);
  }
    
.card-produto .img-produto {
    flex-shrink: 0;
}
  
.card-produto .nome-produto {
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
  
.card-produto .valor-produto {
    display: flex;
    justify-content: center;
}
  
.card-produto .valor-produto h2 {
    padding-left: 2px;
    font-size: 52px;
    font-weight: 600;
    margin: 0;
}
  
.card-produto .valor-produto h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 7px;
}
  
.card-produto .valor-produto h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 36px;
}
  
.card-produto button {
    width: 195px;
    height: 39px;
    flex-shrink: 0;
    border: 0;
    border-radius: 15px;
    background: rgba(184, 20, 20, 0.85);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.2s ease;
    cursor: pointer;
}
  
.card-produto i {
    flex-shrink: 0;
    padding-left: 4px;
    fill: #fff;
    stroke-width: 0.4px;
    stroke: #fff;
}
  
.card-produto button:hover {
    transform: translate(0px, 1px);
    background: rgb(160, 3, 3);
}
  
.card-produto .vendedor {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

/* ---------- RODAPRE ---------- */

footer {
    width: 100%;
    background-color: var(--color-bg-white);
    color: var(--color-grafite);
    box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
  }
  
  .rodape {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
  }
  
  .rodape img {
    height: 54px;
  }
  
  .sobre a {
    color: var(--color-grafite);
  }
/* ------- Modal Login -------*/

#open-modal {
  cursor: pointer;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px; 
  height: 500px; 
  max-width: 90%;
  max-height: 90%;
  padding: 1.2rem;
  border-radius: 5px; 
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
  
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}
#modal input[type=checkbox] {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

#modal input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 3px;
  background-color: var(--color-bg); /* Cor de fundo padrão */
  border: 1.5px solid #000;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
}

#modal input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  background-color: var(--color-red); /* Cor quando marcado (vermelho) */
  border: 0px;
}
#modal input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1.5px;
  left: 4.5px
}

/* --- icones Login --- */

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 14px;
}

.icones a {
  margin-right: 15px;
  margin-left: 15px;
}

.icones img {
  width: 30px;
  height: 30px;
}

/* --- Input Login/ Form --- */

form {
  width: 100%;
  max-width: 350px;
}

div.input {
  width: 90%;
  margin: 30px 0;
  position: relative;
  margin-right: 5px;
  margin-left: 15px;
}

div.input label {
  font-size: 15px;
  position: absolute;
  left: 0;
  bottom: 8px;
  color: rgb(0, 0, 0);
  cursor: text;
  transition: 0.5s ease-in-out;
}

div.input .input {
  width: 100%;
  padding: 5px;
  color: rgb(1, 1, 1);
  border: 0;
  border-bottom: 2px solid rgb(200, 200, 200);
  outline: 0;
  font-size: 16px;
}

div.input .input:focus,
div.input .input:valid {
  border-bottom: 2px solid red;
}

div.input .input:focus ~ label,
div.input .input:valid ~ label {
  transform: translateY(-24px);
  font-size: 12px;
  color: red;
}

.containermodal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.box {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  
}

.lembredemim {
  font-size: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
}

.esquecisenha {
  font-size: 12.5px;
  text-decoration: underline;
}

.lembredemim label {
  padding-left: .3rem;
}

.lembredemim input[type=checkbox] {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.lembredemim input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 03px;
  background-color: var(--color-bg);
  border: 1.5px solid #000;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
}
.lembredemim input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  background-color:var(--color-red);
  border: 0px;
}
.lembredemim input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1.5px;
  left: 4.5px;
}

.boximg {
  width: 300px;
  height: 500px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  background-image: url("../assets/capa.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxtext {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logobuscaquilogin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logobuscaquilogin img{
  width: 12rem;
}

.button {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 14px 44px;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.button:hover {
  transform: translate(0px, 1px);
  background: rgb(160, 3, 3);
}

.button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 0 5px 15px rgba(0, 0, 0, 0.3);
}

.texto_ou {
  font-size: 15px;
  font-weight: 400;
}
