* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  
  :root {
    --color-red: #b81414;
    --color-yellow: #ffc107;
    --color-green: #4caf50;
    --color-gray: #a7a5a5;
    --color-text-gray: #dfdddd;
    --color-white: #fff;
    --color-black: #000;
    --color-grafite: #242121;
    --color-light: #f5f5f5;
    --color-bg: #faf8f5;
    --color-bg-white: #ffffff;
    --color-bg-destaque: #fed6b9;
  }
  
  body {
    background-color: var(--color-bg);
  }
  
  a {
    color: var(--color-grafite);
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
  }
  
  .logo_nav {
    width: 150px;
  }
  
  .logo_nav img {
    width: 150px;
  }
  
  .window-scroll {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--color-bg-white);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-categoria {
    position: relative;
    display: inline-block;
    user-select: none;
    margin-left: -4rem;
  }
  
  .categorias {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .categorias i {
    padding-left: 0.4rem;
  }
  
  .lista-categorias {
    display: none;
    min-width: 300px;
    position: absolute;
    top: 2rem;
    background-color: var(--color-bg-white);
    z-index: 1;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  }
  
  .lista-categorias a {
    display: block;
    padding: 0.6rem 1rem;
  }
  
  .lista-categorias a:hover {
    background-color: var(--color-red);
    color: var(--color-white);
  }
  
  .lista-categorias a:first-child:hover {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .lista-categorias a:last-child:hover {
    border-radius: 0 0 0.5rem 0.5rem;
  }
  
  .links {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  
  .cupons a,
  .cashback a {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  
  .cupons i {
    margin-right: 0.4rem;
    color: var(--color-yellow);
    font-size: 1.4rem;
  }
  
  .cashback i {
    margin-right: 0.4rem;
    color: var(--color-green);
    font-size: 1.4rem;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    position: relative;
  }
  
  #notificacao {
    display: flex;
    cursor: pointer;
  }
  
  .notificacao {
    display: none;
    min-width: 300px;
    position: absolute;
    top: 4rem;
    right: 7rem;
    background-color: var(--color-bg-white);
    z-index: 1;
    border-radius: 0.6rem;
    box-shadow: 0.4rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  
  .dropdown-notificacao {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .lista-notificacao {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .lista-notificacao a {
    display: flex;
    align-items: center;
    padding: 0.6rem;
    border: 0.02rem solid var(--color-gray);
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  }
  
  .lista-notificacao a:hover {
    border: 0.02rem solid var(--color-red);
    background-color: var(--color-bg);
  }
  
  .lista-notificacao i {
    color: var(--color-red);
    margin-right: 0.4rem;
  }
  
  .mostrar {
    display: block;
  }
  
  .usuario {
    user-select: none;
  }
  
  .dot {
    color: var(--color-red);
    position: relative;
    top: -0.5rem;
    left: -0.8rem;
  }
  
  .usuario i {
    padding: 0 0.2rem;
    font-size: 1.6rem;
  }
  
  .busca {
    display: flex;
    align-items: center;
  }
  
  .busca i {
    color: var(--color-gray);
    margin-left: -1.6rem;
  }
  
  .busca input {
    padding: 0.6rem;
    border-radius: 0.8rem;
    border: 0.05rem solid var(--color-gray);
    width: 18rem;
  }
  
  .navegacao {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 14px;
    line-height: normal;
    font-style: normal;
    font-weight: 700;
    gap: .2rem;
    margin-bottom: 2rem;
  }
  
  .navegacao i {
    color: var(--color-grafite);
    font-size: 8px;
    padding: 0.01rem 0.2rem;
    margin: 0;
  }
  
  .navegacao a {
    padding: 0.1rem;
  }
  
  .navegacao a:last-child {
    font-weight: 400;
  }

  .container {
    width: 100%;
    padding: 0 4rem;
  }
  .Lista-cashback {
    display: grid;
    grid-template-columns: auto auto auto auto;   
    flex-wrap: wrap;
  }

  
  .card {
    width: calc(100% - 20px); /* 25% para mostrar até 4 cards por linha, subtraindo o espaçamento entre eles */
    margin-bottom: 20px; /* Espaçamento entre as linhas de cards */
    background-color: #f5f5f5; /* Cor de fundo para ilustração */
    border: 1px solid #ddd; /* Borda para ilustração */
    border-radius: 8px; /* Borda arredondada para ilustração */
    overflow: hidden; /* Evita que imagens maiores que o card ultrapassem os limites */
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

  }
  
 
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card a {
    display: block;
  }
.p{
    font-size: 20px;
}
