:root {
    --color-red: #b81414;
    --color-yellow: #FFC107;
    --color-green: #4caf50;
    --color-gray: #A7A5A5;
    --color-text-gray: #dfdddd;
    --color-white: #fff;
    --color-black: #000;
    --color-grafite: #242121;
    --color-light: #f5f5f5;
    --color-bg: #faf8f5;
    --color-bg-white: #ffffff;
    --color-bg-destaque: #fed6b9;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a{
    color:var(--color-grafite);
}

body {
    background-color: #FAF8F5;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    margin-bottom: 1rem;
}

.categorias {
    display: flex;
    align-items: center;
}

.categorias i {
    padding: 0 .4rem;
}

.links {
    display: flex;
    align-items: center;
}

.cupons, .cashback, .forum {
    display: flex;
    align-items: center;
    padding: .9rem;
}

.cupons i  {
    margin-right: .4rem;
    color: yellow;
    font-size: 1.4rem;
}

.cashback i {
    margin-right: .4rem;
    color: green;
    font-size: 1.4rem;
}

.forum i {
    margin-right: .4rem;
    color: red;
    font-size: 1.4rem;
}

.usuario {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.usuario i {
    padding: 0 .8rem;
    font-size: 1.6rem;
}

.busca {
    display: flex;
    align-items: center;
}

.busca i {
    color: #A7A5A5;
    margin-left: -1.6rem;
}

.busca input {
    padding: .6rem;
    border-radius: .8rem;
    border: .1rem solid #A7A5A5;
    width: 20rem;
}
.card-wrapper {
    width: 242px;
    height: 355px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-wrapper .img-product {
    margin-top: 10px;
    width: 170px;
    height: 119.282px;
    flex-shrink: 0;
}

.card-wrapper .name-product {
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-wrapper .value-product {
    display: flex;
    justify-content: center;
}

.card-wrapper .value-product h2 {
    padding-left: 2px;
    font-size: 52px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.card-wrapper .value-product h3 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-top: 7px;
}

.card-wrapper .value-product h4 {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-top: 36px;
}

/* Navegação */

.historico_navegacao {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 480;
    line-height: normal;
    font-style: normal;
    justify-content: left;
    padding-left: 98px;
}

.seta_navegacao {

    font-size: .7rem;
    padding-left: 3px;
    padding-right: 3px;
}

.diretorio_atual {
    font-weight: 470;
}

/* Título Produto */

.titulo_produto{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 480;
    line-height: normal;
    font-style: normal;
    justify-content: left;
    padding-left: 98px;

}

/* Avaliações */

.rating {
    display: flex;
    align-items: center;
  }
  
.stars {
    font-size: 24px;
    color: #f1c40f;
    display: inline-block;
    margin-left: 95px;
}
  
.rating-info {
    font-size: 16px;
    color: #777;
    margin-left: 10px;
  }
  
/* Começo da página */
  
.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem 6rem;
}

.main-image-container {
    display: flex;
    align-items: center;
}

/* Poduto e Fotos */

.informacao_1 {
    max-width: 35%;
}

.imagem_principal {
    position: relative;
    width: 350px;
    border-radius: 16px;
    border: 3px solid #E5E3E1;
    background: #F5F5F7;
}


.thumbnails {
    display: flex;
    justify-content: center;
}

.thumbnail {
    width: 55px; 
    margin: 1px;
    cursor: pointer;
    margin-left: 25px;
}

.thumbnail:hover {
    border: 2px solid #b81414d9;
}


/* Preço e informações */

.informacao_2 {
    margin-left: 30px;
    position: relative;
}

.loja_verificada {
    width: 175px;
    height: 24px;
    background-color: #D6F3DF;
    border-radius: 10px;
    color: #48BC6E;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.04px;
    padding: 3px;
    text-align: center;
}


.menor_preco {
    font-size: 15px;
    margin-top: 4px;
}

.precodiv {
    display: flex;
}

.preco {
    font-size: 30px;
    margin-top: 20px;
    display: flex;
}

.preco_menor {
    font-size: 20px;
    margin-top: 40px;
}
.parcela {
    font-size: 16px;
}

.promocao_botao {
    background-color: #b81414d9;
    color: #fff;
    padding: 10px 25px;
    font-size: 18px;
    border: 2px solid #b81414d9;
    border-radius: 20px;
    cursor: pointer;
    top: 500px; 
    left: 790px; 
    transition: background-color 0.3s ease;
    margin-top: 1rem;
  }
  
  .promocao_botao:hover {
    background-color: #ffffff; 
    color: #b81414d9; 
    border-color: #b81414d9; 
  }
  
  .salvar-btn {
    background-color: #ffffff; 
    color: #b81414d9; 
    padding: 0px 40px;
    font-size: 18px;
    border: 2px solid #b81414d9; 
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    top: 163px;
    right: 245px;
    margin-top: 1rem;
  }
  
  .salvar-btn:hover {
    background-color: #b81414d9; 
    color: #ffffff; 
    border-color: #ffffff; 
  }
  
  .coracao {
    font-size: 31px; 
    color: #b81414d9; 
    margin-right: 8px;
    position: relative;
    display: inline-block;
  }
  .salvar-btn:hover .coracao {
    color: #ffffff; 
  }

/* Aqui tem preço */

.informacao_3 {
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.aquitempreco {
    position: relative;
    width: 314px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #A7A5A5;
    justify-content: center;
}

.texto_aqui {
    color: #B81414;
    margin-right: 4px;
}

.texto_tempreco {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.fogo_icon {
    margin-right: 7px;
}

.historico_preco {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aquitempreco p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div_historico {
    display: flex;
    justify-content: center;
}

.aquitempreco button {
    width: 126px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #A7A5A5;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 25px;
}

/* Quer Economizar? */

.quereconomizar {
    margin-top: 10px;
    width: 314px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #A7A5A5;
}

.economizar_cima {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.economizar_1 {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
}

.sino{
    font-size: 1.2rem;
    margin-right: .5rem;
}

.economizar_2 {
    margin-top: -8px;
    margin-right: 20px;
}

input[type="checkbox"] {
    align-items: center;
    width: 49px;
    height: 29px;
    appearance: none;
    background-color: #D1D1D1;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px rgba(80, 80, 80, 0.10);
    cursor: pointer;
    transition: .10s;
    position: relative;
}

input:checked[type="checkbox"] {
    background-color: #b81414d9;
}

input[type="checkbox"]:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50px;
    position: absolute;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.24);
    top: -1px;
    left: 0;
    transform: scale(.8);
    transition: .10s;
}

input:checked[type="checkbox"]:before {
    left: 18px;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.24);
}

.descricao_economizar {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 20px;
}

.descricao_economizar p{
    font-size: 14px;
    font-weight: 400;
    
}

/* Resto dos site */

.tabs {
    display: flex;
    margin-top: 20px;
}

  .tab-button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    margin-right: 30px;
    background-color: transparent;
    font-size: 16px;
    outline: none;
  }
  
  .tab-button.active {
    border: 2px solid #DEDEDE;
    background-color: #DEDEDE;
    font-weight: 600;
    border-radius: 8px;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
    width: 1110px;
  }
  .cifrao {
    width: 20px;
    height: 20px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px; 
  }
  .grafico {
    font-size: 18px;
    color: white; 
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 5px; 
  }

  /* Comparação produto */

  .compare {
    padding: 1rem 0;
    width: 100%;
  }

  .comparacao_preco {
    padding: 0.2rem 0.4rem;
    width: 10%;
    border-radius: 20px 0px 0px 0px;
    background: var(--color-green);
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 90%;
    z-index: 1;
  }

.lista-produtos {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .long-card-produto {
    display: flex;
    position: relative;
    padding: 2rem;
    background-color: var(--color-bg-white);
    gap: 2rem;
    border-radius: 1.2rem 0 1.2rem 1.2rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    border: 0.2rem solid var(--color-green);
    margin-top: -0.2rem;
  }

  .long-card-produto img{
    width: 120px;
  }

  .info h2 {
    margin-bottom: 1rem;
  }

  .valores {
    display: flex;
    gap: 0.4rem;
    align-items: center;
  }

  .long-card-produto p {
    color: var(--color-gray);
  }

  .valores p {
    color:var(--color-grafite)
  }

  .irloja{
    width: 133.043px;
    height: 32px;
    border-radius: 5px;
    background-color: var(--color-red);
    color: var(--color-bg-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor:pointer;
    border:none;
    position: relative;
    left: 22rem;
    top: 2.5rem;
  }

  .nome{
    margin-bottom: 1.8rem;
  }

  .logoloja{
    position: relative;
    left: 10rem;
  }

  /* Descrição */

  .ficha_tecnica {
    text-align: left;
    font-size: 20px;
    font-weight:500;
    margin-bottom: 10px;
}

.informacoes_principais {
    text-align: left;
    font-size: 16px;
    font-weight:bold;
}

  .container_tabela {
    width: 400px;
    display: flex 1;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.linha_tabela {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #e2e2e2;
}

.linha_tabela:nth-child(even) {
    background-color: #ffffff;
}

.linha_tabela:nth-child(odd) {
    background-color: #fafafa;
}

.dado_tabela {
    flex: 1;
    text-align: left;
}

.dado_tabela:first-child {
    flex: 2;
}
