* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

:root {
  --color-red: #b81414;
  --color-yellow: #ffc107;
  --color-green: #4caf50;
  --color-gray: #a7a5a5;
  --color-text-gray: #dfdddd;
  --color-white: #fff;
  --color-black: #000;
  --color-grafite: #242121;
  --color-light: #f5f5f5;
  --color-bg: #faf8f5;
  --color-bg-white: #ffffff;
  --color-bg-destaque: #fed6b9;
}

body {
  background-color: var(--color-bg);
}

a {
  color: var(--color-grafite);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.logo_nav {
  width: 150px;
}

.logo_nav img {
  width: 150px;
}

.window-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--color-bg-white);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.dropdown-categoria {
  position: relative;
  display: inline-block;
  user-select: none;
  margin-left: -4rem;
}

.categorias {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.categorias i {
  padding-left: 0.4rem;
}

.lista-categorias {
  display: none;
  min-width: 300px;
  position: absolute;
  top: 2rem;
  background-color: var(--color-bg-white);
  z-index: 1;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.lista-categorias a {
  display: block;
  padding: 0.6rem 1rem;
}

.lista-categorias a:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

.lista-categorias a:first-child:hover {
  border-radius: 0.5rem 0.5rem 0 0;
}

.lista-categorias a:last-child:hover {
  border-radius: 0 0 0.5rem 0.5rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.cupons a,
.cashback a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.cupons i {
  margin-right: 0.4rem;
  color: var(--color-yellow);
  font-size: 1.4rem;
}

.cashback i {
  margin-right: 0.4rem;
  color: var(--color-green);
  font-size: 1.4rem;
}

.usuario {
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
  position: relative;
}

#notificacao {
  display: flex;
  cursor: pointer;
}

.notificacao {
  display: none;
  min-width: 300px;
  position: absolute;
  top: 4rem;
  right: 7rem;
  background-color: var(--color-bg-white);
  z-index: 1;
  border-radius: 0.6rem;
  box-shadow: 0.4rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.dropdown-notificacao {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.lista-notificacao {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lista-notificacao a {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border: 0.02rem solid var(--color-gray);
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.lista-notificacao a:hover {
  border: 0.02rem solid var(--color-red);
  background-color: var(--color-bg);
}

.lista-notificacao i {
  color: var(--color-red);
  margin-right: 0.4rem;
}

.mostrar {
  display: block;
}

.usuario {
  user-select: none;
}

.dot {
  color: var(--color-red);
  position: relative;
  top: -0.5rem;
  left: -0.8rem;
}

.usuario i {
  padding: 0 0.2rem;
  font-size: 1.6rem;
}

.busca {
  display: flex;
  align-items: center;
}

.busca i {
  color: var(--color-gray);
  margin-left: -1.6rem;
}

.busca input {
  padding: 0.6rem;
  border-radius: 0.8rem;
  border: 0.05rem solid var(--color-gray);
  width: 18rem;
}

.container {
  width: 100%;
  padding: 0 4rem;
}

.historico_navegacao {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 480;
  line-height: normal;
  font-style: normal;
  justify-content: left;
  padding-bottom: 2rem;
}

.historico_navegacao h6 {
font-size: 13px;
font-weight: 300;
}

.seta_navegacao {
margin-top: 2px;
font-size: .7rem;
padding-left: 4px;
padding-right: 4px;
}

.diretorio_atual {
font-size: 12px;
font-weight: 500;
}

.cupons_div {
  display: flex;
  align-items: center;
}

.icon_cupom {
  font-size: 1.3rem;
  padding-left: .5rem;
  color: #FFC107;
}

.lista-cupons {
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
}

.lista-cupons h2 {
  margin-bottom: 1rem;
}

.card-cupom {
  padding: 1rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--color-black);
  width: 420px;
  background-color: var(--color-bg-white);
}

.descricao-cupom {
  padding: 0.4rem;
  display: flex;
  flex-wrap: nowrap;
}

.imagem-loja img {
  width: 120px;
}

.expiracao {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--color-gray);
  gap: 0.4rem;
}

.resgate {
  border-top: 0.1rem solid var(--color-gray);
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resgate button {
  padding: 0.5rem 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--color-red);
  border: none;
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
}

.resgate button:hover {
  transform: translate(0px, 1px);
  background: rgb(160, 3, 3);
}

/* ---------- RODAPRE ---------- */

footer {
  width: 100%;
  background-color: var(--color-bg-white);
  color: var(--color-grafite);
  box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
}

.rodape {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
}

.rodape img {
  height: 54px;
}

.sobre a {
  color: var(--color-grafite);
}
/* ------- Modal Login -------*/

#open-modal {
  cursor: pointer;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px; 
  height: 500px; 
  max-width: 90%;
  max-height: 90%;
  padding: 1.2rem;
  border-radius: 5px; 
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
  
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

/* --- icones Login --- */

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 14px;
}

.icones a {
  margin-right: 15px;
  margin-left: 15px;
}

.icones img {
  width: 30px;
  height: 30px;
}

/* --- Input Login/ Form --- */

form {
  width: 100%;
  max-width: 350px;
}

div.input {
  width: 90%;
  margin: 30px 0;
  position: relative;
  margin-right: 5px;
  margin-left: 15px;
}

div.input label {
  font-size: 15px;
  position: absolute;
  left: 0;
  bottom: 8px;
  color: rgb(0, 0, 0);
  cursor: text;
  transition: 0.5s ease-in-out;
}

div.input .input {
  width: 100%;
  padding: 5px;
  color: rgb(1, 1, 1);
  border: 0;
  border-bottom: 2px solid rgb(200, 200, 200);
  outline: 0;
  font-size: 16px;
}

div.input .input:focus,
div.input .input:valid {
  border-bottom: 2px solid red;
}

div.input .input:focus ~ label,
div.input .input:valid ~ label {
  transform: translateY(-24px);
  font-size: 12px;
  color: red;
}

.containermodal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.box {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  
}

.lembredemim {
  font-size: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
}

.esquecisenha {
  font-size: 12.5px;
  text-decoration: underline;
}

.lembredemim label {
  padding-left: .3rem;
}

.lembredemim input[type=checkbox] {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.lembredemim input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 03px;
  background-color: var(--color-bg);
  border: 1.5px solid #000;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
}
.lembredemim input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  background-color:var(--color-red);
  border: 0px;
}
.lembredemim input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1.5px;
  left: 4.5px;
}

.boximg {
  width: 300px;
  height: 500px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  background-image: url("../assets/capa.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxtext {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logobuscaquilogin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logobuscaquilogin img{
  width: 12rem;
}

.button {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 14px 44px;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.button:hover {
  transform: translate(0px, 1px);
  background: rgb(160, 3, 3);
}

.button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 0 5px 15px rgba(0, 0, 0, 0.3);
}

.texto_ou {
  font-size: 15px;
  font-weight: 400;
}