*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/fundo.jpg);


}
form{
    width: 100%;
    max-width: 350px;

}
div.input{
    width: 90%;
    margin: 30px 0;
    position: relative;
    margin-right: 5px; 
    margin-left: 15px;
}
div.input label{
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: 8px;
    color: rgba(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;

}
div.input .input{
    width: 100%;
    padding: 5px;
    color: rgb(150,150,150);
    border:0;
    border-bottom: 2px solid rgb(200,200,200);
    outline: 0;
    font-size: 16px;
}
div.input .input:focus,div.input .input:valid{
    border-bottom: 2px solid red;

}

div.input .input:focus ~ label,div.input .input:valid ~label{

    transform: translateY(-24px);
    font-size: 12px;
    color: red;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.box {
    padding-bottom: 15px;
    font-size: 12px;
}

.box label {
    margin-right: 20px; 
}

.box a {
    display: inline-block;; 
    margin-top: 0px; 
}
.boxcadastro{
    font-size: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-left: 12px;
}
.conta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    font-size: 12px;
}
.conta a{
    font-size: 12px;
    margin-top: 5px;
}
.conta a:hover{
    color: red;
}
.boximg{
    width: 300px;
    height: 500px;
    border-radius: 2px;
    box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: url(assets/capa.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.boxtext{
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.icones a {
    margin-right: 15px;
    margin-left: 15px;
}

.icones img {
    width: 30px; 
    height: auto; 
}
.box {
    display: flex;
    align-items: center;
}

.box input {
    margin-right: 5px; 
    margin-left: 15px;
}
.button {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 14px 44px;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    transition: all 0.2s ease;
  }
  
  .button:hover {
    transform: translate(0px, 1px);
    background: rgb(160, 3, 3);
  }
  .button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 0 5px 15px rgba(0, 0, 0, 0.3);
}


