* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

:root {
  --color-red: #b81414;
  --color-yellow: #FFC107;
  --color-green: #4caf50;
  --color-gray: #A7A5A5;
  --color-text-gray: #dfdddd;
  --color-white: #fff;
  --color-black: #000;
  --color-grafite: #242121;
  --color-light: #f5f5f5;
  --color-bg: #faf8f5;
  --color-bg-white: #ffffff;
  --color-bg-destaque: #fed6b9;
}

body {
  background-color: var(--color-bg);
}

a {
  color: var(--color-grafite);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.logo_nav {
  width: 150px;
}

.logo_nav img {
  width: 150px;
}

.window-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--color-bg-white);
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
}

.dropdown-categoria {
  position: relative;
  display: inline-block;
  user-select: none;
  margin-left: -4rem;
}

.categorias {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.categorias i {
  padding-left: .4rem;
}

.lista-categorias {
  display: none;
  min-width: 300px;
  position: absolute;
  top: 2rem;
  background-color: var(--color-bg-white);
  z-index: 1;
  border-radius: .6rem;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
}

.lista-categorias a {
  display: block;
  padding: .6rem 1rem;
}

.lista-categorias a:hover{
  background-color: var(--color-red);
  color: var(--color-white);
}

.lista-categorias a:first-child:hover{
  border-radius: .5rem .5rem 0 0;
}

.lista-categorias a:last-child:hover{
  border-radius: 0 0 .5rem .5rem;
}

.links {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.cupons a,
.cashback a,
.forum a {
  display: flex;
  align-items: center;
  padding: .5rem;
}

.cupons i {
  margin-right: .4rem;
  color: var(--color-yellow);
  font-size: 1.4rem;
}

.cashback i {
  margin-right: .4rem;
  color: var(--color-green);
  font-size: 1.4rem;
}

.forum i {
  margin-right: .4rem;
  color: var(--color-red);
  font-size: 1.4rem;
}

.usuario {
  display: flex;
  align-items: center;
  padding: 0 .2rem;
  position: relative;
}

#notificacao {
  display: flex;
  cursor: pointer;
}

.notificacao {
  display: none;
  min-width: 300px;
  position: absolute;
  top: 4rem;
  right: 7rem;
  background-color: var(--color-bg-white);
  z-index: 1;
  border-radius: .6rem;
  box-shadow: .4rem .2rem .8rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.dropdown-notificacao {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.lista-notificacao {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.lista-notificacao a {
  display: flex;
  align-items: center;
  padding: .6rem;
  border: .02rem solid var(--color-gray);
  border-radius: .4rem;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
}

.lista-notificacao a:hover {
  border: .02rem solid var(--color-red);
  background-color: var(--color-bg);
}

.lista-notificacao i {
  color: var(--color-red);
  margin-right: .4rem;
}

.mostrar {
  display: block;
}

.usuario{
  user-select: none;
  padding-right: .8rem;
}

.dot {
  color: var(--color-red);
  position: relative;
  top: -.5rem;
  left: -.8rem;
}

.usuario i {
  padding: 0 .2rem;
  font-size: 1.6rem;
}

.busca {
  display: flex;
  align-items: center;
}

.busca i {
  color: var(--color-gray);
  margin-left: -1.6rem;
}

.busca input {
  padding: .6rem;
  border-radius: .8rem;
  border: .05rem solid var(--color-gray);
  width: 18rem;
}


/* ----------- BANNER ---------- */

.carrossel-banner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.slide {
  display: none;
  z-index: -1;
}

.anterior,
.proxima {
  position: absolute;
  cursor: pointer;
  top: 45%;
  padding: 1rem;
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.6s ease;
  border-radius: 0 .188rem .188rem 0;
  user-select: none;
  opacity: 0.5;
}

.anterior {
  left: 2.5rem;
}

.proxima {
  right: 2.5rem;
}

.anterior:hover, .proxima:hover {
  opacity: 1;
}

.botao {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #fff;
  border: 0.1rem solid transparent;
  border-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
  position: relative;
  bottom: 2rem;
  opacity: 0.8;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.ativo {
  background-color: #b81414;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ---------- SESSÃO DE PRODUTOS EM DESTAQUE ---------- */

.lista-produtos-destaque {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.destaques {
  padding: .8rem 1.4rem;
  flex-shrink: 0;
  border-radius: .875rem;
  background: var(--color-bg-destaque);
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.04px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
  color: var(--color-grafite);
}

.destaques .destaques-icone {
  padding-right: .438rem;
  width: 15%;
}

/* ---------- CARDS DOS PRODUTOS ---------- */

.produtos {
  display: flex;
  gap: 2.7rem;
}

.card-produto {
  width: 242px;
  height: 355px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--color-bg-white);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .4rem;
  color: var(--color-grafite);
}

.card-produto .img-produto {
  flex-shrink: 0;
}

.card-produto .nome-produto {
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-produto .valor-produto {
  display: flex;
  justify-content: center;
}

.card-produto .valor-produto h2 {
  padding-left: 2px;
  font-size: 52px;
  font-weight: 600;
  margin: 0;
}

.card-produto .valor-produto h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 7px;
}

.card-produto .valor-produto h4 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 36px;
}

.card-produto button {
  width: 195px;
  height: 39px;
  flex-shrink: 0;
  border: 0;
  border-radius: 15px;
  background: rgba(184, 20, 20, 0.85);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.2s ease;
  cursor: pointer;
}

.card-produto i {
  flex-shrink: 0;
  padding-left: 4px;
  fill: #fff;
  stroke-width: 0.4px;
  stroke: #fff;
}

.card-produto button:hover {
  transform: translate(0px, 1px);
  background: rgb(160, 3, 3);
}

.card-produto .vendedor {
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}


/* ---------- SEÇÃO DE PRODUTOS ---------- */

.lista-produtos {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 99%;
}

.long-card-produto {
  display: flex;
  position: relative;
  padding: 2rem;
  background-color: var(--color-bg-white);
  gap: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.info h2 {
  margin-bottom: 1rem;
}

.data {
  position: absolute;
  right: 5rem;
  padding: .4rem;
  color: var(--color-gray);
  border-radius: .5rem;
  font-size: .9rem;
  display: flex;
  gap: .4rem;
  align-items: center;
  user-select: none;
}

.data i {
  color: var(--color-red);
}

.valores {
  display: flex;
  gap: .6rem;
}

/* ---------- RODAPRE ---------- */

footer {
  width: 100%;
  background-color: var(--color-bg-white);
  color: var(--color-grafite);
  box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
}

.rodape {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
}

.rodape img {
  height: 54px;
}

.sobre a {
  color: var(--color-grafite);
}

/* ------- Modal Login -------*/

#open-modal {
  cursor: pointer;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px; 
  height: 500px; 
  max-width: 90%;
  max-height: 90%;
  padding: 1.2rem;
  border-radius: 5px; 
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--color-gray);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

/* --- icones Login --- */

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.icones a {
  margin-right: 15px;
  margin-left: 15px;
}

.icones img {
  width: 30px;
  height: 30px;
}

/* --- Input Login/ Form --- */

form {
  width: 100%;
  max-width: 350px;
}

div.input {
  width: 90%;
  margin: 30px 0;
  position: relative;
  margin-right: 5px;
  margin-left: 15px;
}

div.input label {
  font-size: 15px;
  position: absolute;
  left: 0;
  bottom: 8px;
  color: rgb(0, 0, 0);
  cursor: text;
  transition: 0.5s ease-in-out;
}

div.input .input {
  width: 100%;
  padding: 5px;
  color: rgb(1, 1, 1);
  border: 0;
  border-bottom: 2px solid rgb(200, 200, 200);
  outline: 0;
  font-size: 16px;
}

div.input .input:focus,
div.input .input:valid {
  border-bottom: 2px solid var(--color-red);
}

div.input .input:focus ~ label,
div.input .input:valid ~ label {
  transform: translateY(-24px);
  font-size: 12px;
  color: var(--color-red);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.box {
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 10px;
  font-size: 12.5px;
  color: var(--color-grafite);
  display: flex;
  justify-content: center;
}

.box label {
  margin-right: 20px;
  margin-left: 1px;
}

.box a {
  border-bottom: .01rem solid var(--color-grafite);
}

.conta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  font-size: 12px;
}

.conta a {
  font-size: 12px;
  margin-top: 5px;
  border-bottom: .01rem solid var(--color-grafite);
}

.conta a:hover {
  color: var(--color-red);
}

.boximg {
  width: 300px;
  height: 500px;
  border-radius: 2px;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  background-image: url("../assets/capa.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxtext {
  width: 300px;
  height: 500px;
  background-color: var(--color-bg-white);
  border-radius: 2px;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: var(--color-white);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px 44px;
  cursor: pointer;
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
}

.button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 0 5px 15px rgba(0, 0, 0, 0.3);
}

