* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
:root {
  --color-red: #b81414;
  --color-yellow: #FFC107;
  --color-green: #4caf50;
  --color-gray: #808080;
  --color-text-gray: #dfdddd;
  --color-white: #fff;
  --color-black: #000;
  --color-grafite: #242121;
  --color-light: #f5f5f5;
  --color-bg: #faf8f5;
  --color-bg-white: #ffffff;
  --color-bg2: #abadb4;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

}

body {
  background-color: var(--color-bg);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
  margin-bottom: 1rem;
}

.window-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
}

.dropdown-categoria {
  position: relative;
  display: inline-block;
  user-select: none;
  margin-left: -4rem;
}

.categorias {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.categorias i {
  padding-left: .4rem;
}

.categorias:hover, .categorias:focus{
  color: #b81414;
}

.lista-categorias {
  display: none;
  min-width: 300px;
  position: absolute;
  top: 2rem;
  background-color: #fff;
  z-index: 1;
  border-radius: .8rem;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
}

.lista-categorias a {
  color: #000;
  display: block;
  padding: .6rem 1rem;
}

.lista-categorias a:hover{
  background-color: #b81414;
  color: #fff;
  border-radius: .2rem;
}

.mostrar {
  display: block;
}

.links {
  display: flex;
  align-items: center;
}

.cupons,
.cashback,
.forum {
  display: flex;
  align-items: center;
  padding: .9rem;
}

.cupons i {
  margin-right: .4rem;
  color: var(--color-yellow);
  font-size: 1.4rem;
}

.cashback i {
  margin-right: .4rem;
  color: var(--color-green);
  font-size: 1.4rem;
}

.forum i {
  margin-right: .4rem;
  color: var(--color-red);
  font-size: 1.4rem;
}

.usuario {
  display: flex;
  align-items: center;
  padding: 0 .5rem;
}

.usuario i {
  padding: 0 .8rem;
  font-size: 1.6rem;
}

.busca {
  display: flex;
  align-items: center;
}

.busca i {
  color: #a7a5a5;
  margin-left: -1.6rem;
}

.busca input {
  padding: .6rem;
  border-radius: .8rem;
  border: .1rem solid #a7a5a5;
  width: 20rem;
}

/* ----------- HEADER ---------- */

.carrossel-banner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  user-select: none;
}

.slide {
  display: none;
  z-index: -1;
}

.anterior,
.proxima {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.6s ease;
  border-radius: 0 .188rem .188rem 0;
  user-select: none;
}

.anterior {
  left: 15rem;
}

.proxima {
  right: 15rem;
}

.botao {
  cursor: pointer;
  height: 0.938rem;
  width: 0.938rem;
  background-color: #fff;
  border: 0.2rem solid transparent;
  border-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}

.botoes {
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.ativo {
  background-color: #b81414;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ---------- SESSÃO DE PRODUTOS EM DESTAQUE ---------- */

.lista-produtos-destaque {
  padding: 6rem;
  display: flex;
  flex-direction: column;
}

.destaques {
  padding: .8rem 1.4rem;
  flex-shrink: 0;
  border-radius: .875rem;
  background: #fed6b9;
  border: 0;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.04px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-bottom: 1rem;
}

.destaques .destaques-icone {
  padding-right: .438rem;
  width: 15%;
}

.destaques:hover {
  transform: translate(1px, 0px);
  background: #f8c29c;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.card-produto {
  width: 242px;
  height: 355px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-produto .img-produto {
  margin-top: 10px;
  width: 170px;
  height: 119.282px;
  flex-shrink: 0;
}

.card-produto .nome-produto {
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-produto .valor-produto {
  display: flex;
  justify-content: center;
}

.card-produto .valor-produto h2 {
  padding-left: 2px;
  font-size: 52px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.card-produto .valor-produto h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 7px;
}

.card-produto .valor-product h4 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-top: 36px;
}

.card-produto button {
  width: 195px;
  height: 39px;
  flex-shrink: 0;
  border: 0;
  border-radius: 15px;
  background: rgba(184, 20, 20, 0.85);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.2s ease;
  cursor: pointer;
}

.card-produto i {
  flex-shrink: 0;
  padding-left: 4px;
  fill: #fff;
  stroke-width: 0.4px;
  stroke: #fff;
}

.card-produto button:hover {
  transform: translate(0px, 1px);
  background: rgb(160, 3, 3);
}

.card-produto .vendedor {
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

/* ---------- NAVEGAÇÃO ---------- */

.historico_navegacao {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 480;
  line-height: normal;
  font-style: normal;
  justify-content: left;
  padding-left: 98px;
}

.seta_navegacao {

  font-size: .7rem;
  padding-left: 3px;
  padding-right: 3px;
}

.diretorio_atual {
  font-weight: 470;
}


/* ---------- SECTION DE PRODUTOS ---------- */